node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.*.local

dist/
build/

logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

coverage/
*.lcov
.nyc_output/

.cache/
.vite/
.next/
out/
.tmp/
.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Desktop.ini

*.tgz


startReplicaSetCommand.txt